
.item__menu_.cart{
    margin-top: 1rem;
}

.container__cart{
    width: 50px;
    position: relative;
    transition: all 0.5s ease;
}

.container__cart:hover i{
    transform: scale(1.2);

}

.cart{
    cursor: pointer;
    color: var(--primary);
}

.bi.bi-cart{
    font-size: 2rem;
    color: var(--primary);
}

.container__quant{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -5px;
}

.quantities__empty{
    font-size: 1.5rem;
    padding: 4px 10px;
    border-radius: 50%;
    background-color: var(--cart-empty);
}

.quantities__full{
    font-size: 1.5rem;
    padding: 4px 10px;
    border-radius: 50%;
    background-color: var(--cart-full);
}



