.brands{
    display: flex;
    flex-direction: column;
    width: 700px;
}

.brands__title{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 25px;
    font-family: 'Exo 2', sans-serif;
}

.container__brands{
    display: flex;
}

.brand__img{
    width: 100px;
    height: 80px;
    padding: 5px;
}

.akkar, .winchester, .bersa, .colt, .glock, .wilson, .smith, .taurus{
    filter: invert(87%) sepia(11%) saturate(34%) hue-rotate(314deg) brightness(96%) contrast(93%);
}

