@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

/**reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**var colors*/
:root{
  --primary: #1f2126;
  --secondary: #f6cd46;
  --tertiary: #33363d;
  --fonts: #d5d2d2;
  --font-footer: #6d6d6c;
  --hover: #47494e;
  --hover-img: #f5f1f1;
  --cart-full: #61e708;
  --cart-empty: #ed5a1b;
}

body{
  background-color: var(--secondary);
  max-width: 1440px;
  margin: auto;
}

.App {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 6fr;
  font-family: 'Poppins', sans-serif !important;
  background-color: var(--secondary);
}



