.banner{
    width: 100%;
    height: 150px;
    background-color: hsl(210, 2%, 26%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    border-radius: .5rem;
}

.section__one, .section__two{
    font-size: 35px;
    display: flex;
    flex-direction: row;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
}

.section__one p{
    padding-left: 10px;
}

.bi.bi-truck{
    padding-left: 20px;
}

.bi.bi-cash-coin{
    padding-left: 20px;
    padding-right: 10px;
}



